@import "../../../styles/colors.scss";
@import "../../../styles/sizes.scss";

.character-tracker {
  margin: 0 auto;

  .character-name {
    font-size: $md;
    color: $cream;
    text-shadow: $cream 0 0 5px;
    text-align: center;

    margin-bottom: $sm;
  }

  .character-portrait {
    display: block;
    margin: 0 auto;

    width: 125px;
    height: 125px;

    margin-bottom: $lg;
  }

  .traits {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 40px;
    column-gap: 20px;
  }
}
