@import "../../../styles/colors.scss";
@import "../../../styles/sizes.scss";

.character-tracker {
  margin: 0 auto;

  .character-name {
    font-size: $md;
    color: $cream;
    text-shadow: $cream 0 0 5px;
    text-align: center;
  }

  .traits {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 40px;
    column-gap: 20px;
  }
}
