@import "../../styles/colors.scss";
@import "../../styles/sizes.scss";

.trait-slider {
  display: flex;
  align-items: center;

  .button {
    display: block;

    width: 3rem;
    height: 3rem;

    background: $navy;
    color: $lime;
    border: 1px solid $gray;
    border-radius: 100%;

    &[disabled] {
      color: $gray;
    }
  }

  .values {
    display: flex;
    align-items: center;

    margin: 0 $sm;

    .value {
      flex: 1;
      color: $gray;

      &.current {
        color: $lime;
      }
    }

    .separator {
      flex: 1;

      margin: 0 5px;

      color: $gray;
    }
  }

  &.md {
    .button {
      font-size: $md;
    }
    .values {
      .value {
        font-size: $md;
        &.current {
          font-size: $lg;
        }
      }
    }
    .separator {
      font-size: $sm;
    }
  }

  &.sm {
    .button {
      font-size: $sm;
    }
    .values {
      .value {
        font-size: $sm;
        &.current {
          font-size: $md;
        }
      }
    }
    .separator {
      font-size: $xs;
    }
  }
}
