@import "../../styles/colors.scss";
@import "../../styles/sizes.scss";

.trait {
  width: 100%;

  color: $lime;

  .trait-details {
    display: flex;
    justify-content: center;
    align-items: center;

    .trait-icon {
      margin-right: 10px;
    }

    .trait-name {
      text-transform: capitalize;
      text-align: center;
      font-size: $md;
    }
  }
}
