@import "../../styles/colors.scss";
@import "../../styles/sizes.scss";

.trait {
  width: 100%;

  color: $lime;

  .trait-details {
    display: flex;
    justify-content: center;
    align-items: center;

    .trait-icon {
      margin-right: 10px;
    }

    .trait-name {
      text-transform: capitalize;
      text-align: center;
      font-size: $md;
    }
  }

  .trait-button {
    margin: 0 auto;

    display: flex;
    align-items: center;

    background: $gray;
    color: $cream;

    border-radius: 20px;
    padding: 5px 20px;

    transition: transform 0.1s ease-out;
    &:active {
      transform: scale(0.9);
    }

    &-label {
      margin-left: 10px;
      font-size: $sm;
    }
  }
}
