@import "../../../styles/colors.scss";
@import "../../../styles/sizes.scss";

.character-select {
  .title {
    text-align: center;
    margin-bottom: $lg;

    font-size: $sm;
    color: $lime;
    text-shadow: $lime 0 0 5px;
  }

  .character {
    width: 100%;
    margin-bottom: $lg;

    .portrait {
      display: block;
      margin: 0 auto $sm;

      width: 120px;
      height: 120px;

      border: 4px solid $gray;
      border-radius: 100%;
    }

    .name {
      margin-bottom: $sm;
      text-align: center;

      color: $cream;
      font-size: $md;
      font-weight: 700;
      text-shadow: $cream 0 0 5px;
    }

    .select-button {
      display: block;
      margin: 0 auto $md;

      background: $navy;
      color: $cream;

      font-size: $sm;
      padding: 5px 20px;
      border: 1px solid $cream;
      border-radius: 20px;
    }

    .traits {
      display: grid;
      grid-template-columns: 1fr;
      font-size: $xs;

      .trait {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-bottom: $xs;
      }
    }
  }
}
